body {
    min-height: 5000px;
}

h1 {
    text-align: center; 
    margin:60px;
}

.boxBar {
    width: 100%;
    border: 5px solid royalblue;
    position: fixed;
    top: 0;
    left: 0;
}

.bar {
    height: 200px;
    background-image: linear-gradient(to left,white, cyan, royalblue, blue, black);
    width: 0%;
}